<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragmentos Thymeleaf: home</title>
    <!-- Deprecado. include añade el contenido (etiquetas hijas) de la etiqueta marcada con th:fragment="headerfiles" -->
    <!-- Esto se usa para no tener que copiar el head sino que esto va al otro -->
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<!-- insert inserta todo el fragmento con la etiqueta th:fragment="header" -->
<header th:insert="fragments/general.html :: header"> </header>
<p>Fragmentos en acción...</p>
<!-- replace reemplaza la etiqueta por la que tiene th:fragment="footer" -->
<div th:replace="fragments/general.html :: footer"></div>
<h1 th:text="#{clientes}"></h1>

</body>
</html>
